
<div class="logob span11">
	</div>

<div class="logo span8">
		<%= image_tag("eplanbookheader2.png") %><br /><br /><br />
		</div>
<div class="seo span2">

	<%= link_to image_tag("twitter.png", :align => 'right'), "https://twitter.com/" %>
	<%= link_to image_tag("facebook.png", :align => 'right'), "https://www.facebook.com/EPlanbook?ref=hl" %>
	<%= link_to image_tag("linkedin.png", :align => 'right'), "http://www.linkedin.com/" %>
</div>


<div class="home-top span4">
<center><h3>Find Your Next Custom Home Here</h3></center><br />

<%= search_form_for @q do |f| %>


<b>Square Footage Min: </b><center><%= f.text_field :sqfoot_gteq %></center>

<b>Square Footage Max: </b><center><%= f.text_field :sqfoot_lteq %></center>


<b>Number of Bedrooms: </b><center><%= f.select :bedrooms_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4', 4]]), :class => 'select_field' %></center>


<b>Number of Bathrooms: </b><center><%= f.select :bathrooms_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4', 4]]), :class => 'select_field' %></center>


<b>Number of Stories:  </b><center><%= f.select :stories_eq, options_for_select([[''],['Single-Story', 1], ['Multi-Story', 2]]), :class => 'select_field' %></center>
 
<br /><br />
<center><p><%= f.submit class: "btn btn-large btn-primary" %> 
	<%= link_to "More Options", plans_path, class: "btn btn-large btn-primary" %>
</p></center>


<% end %>

</div>

<div class="popular span7">
<h3>Choose From Some of Our Most Popular Plans</h3><br />



<div class="pic span3">
<%= image_tag("Hamilton.jpg") %>
</div>
<div class="pic span3">
<%= image_tag("thumbs_front2.jpg") %>
</div>

<div class="pic span3">
<%= image_tag("TexMed-Courtyard-150x1502.jpg") %>
</div>

<div class="pic span3">
<%= image_tag("front_pool2.jpg") %>
</div>
<div class="pic span3">
<%= link_to image_tag("3956plan.jpg"), "http://www.eplanbook.com/plans/22" %>
</div>
<div class="pic span3">
<%= image_tag("IMG_1354-Medium1-150x1502.jpg") %>
</div>
<div class="pic span3">
<%= link_to image_tag("1202-elev.jpg"), "http://www.eplanbook.com/plans/25" %>
</div>
<div class="pic span3">
<%= image_tag("thumbs_dsc_1245-zf-1276-28058-1-003_02.jpg") %><br /><br /><br />
</div>
<div class="pic span3">
<%= link_to image_tag("1208-elevation.jpg"), "http://www.eplanbook.com/plans/26" %><br /><br /><br /><br />
</div>
</div>


<div class="about span11">
	
	<center><h3>Presented by Venture Four Architects</h3></center> 
	<%= link_to image_tag("Venture-Four-logo.png", :align => 'right') %>
	<br />
	<p>
		<b><%= link_to "Venture Four Architects", "#" %></b> was founded in 1990 as a full service Austin architectural firm.  The firm has produced over 800 residences and a variety of commercial building designs in Austin.  The principals contribute over fifty years experience in design, planning,  graphic production and construction management
	</p>
<br />		
	<p>

	</p><br />
		
</div>













