<h2>Advanced Plan Search</h2><br />

<div class="border span11"><p></div><br /><br />


<%= search_form_for @q do |f| %>
<div class="field span3">
<%= f.label :sqfoot_gteq, "Square Footage Min" %>
<%= f.text_field :sqfoot_gteq %>
<%= f.label :sqfoot_lteq, "Square Footage Max" %>
<%= f.text_field :sqfoot_lteq %>

<%= f.label :bedrooms_eq, "Bedrooms" %>
<%= f.select(:bedrooms_eq, [['1', 1], ['2', 2],['3', 3],['4', 4],['5', 5],['6+', 6]],{ :prompt => "Not Sure"}) %>
                                

  <%= f.label :bathrooms_eq, "Bathrooms" %>
<%= f.select(:bathrooms_eq, [['1', 1], ['2', 2],['3', 3],['4+', 4]],{ :prompt => "Not Sure"}) %>
	</div>	
	<div class="field span3">
	  <%= f.label :half_bath_eq, "Half-Bathrooms" %>
	<%= f.select(:half_bath_eq, [['1', 1], ['2', 2],['3+', 3]],{ :prompt => "Not Sure"}) %>


	<%= f.label :living_eq, "Number of Living Areas" %>
	<%= f.select(:living_eq, [['1', 1], ['2', 2],['3', 3],['4+', 4]],{ :prompt => "Not Sure"}) %>	
	
	<%= f.label :dining_eq, "Number of Dining Areas" %>
	<%= f.select(:dining_eq, [['1', 1], ['2', 2],['3', 3],['4+', 4]],{ :prompt => "Not Sure"}) %>
	
	<%= f.label :garage_eq, "Number of Garages" %>
	<%= f.select(:garage_eq, [['0', 1],['1', 2], ['2', 3],['3', 4],['4+', 5]],{ :prompt => "Not Sure"}) %>
	</div>
<div class="field span3">	
	<%= f.label :stories_eq, "Levels/Design" %>
	<%= f.select(:stories_eq, [['Single-Story', 1], ['Multi-Story', 2],['Upside-Down', 3],['Walk Out basement', 4]],{ :prompt => "Not Sure"}) %>
	
	<%#<%= f.label :view_eq, "View" %>
    <%#<%= f.select(:view_eq, [['Front View 1st Floor', 1], ['Front View 2nd Floor', 2],['Rear View 1st Floor', 3],['Rear View 2nd Floor', 4]],{ :prompt => "Not Sure"}) %>
	
	<%= f.label :suite_eq, "Owners' Suite Location" %>
	<%= f.select(:suite_eq, [['Primary Level', 2],['Secondary Level', 3]],{ :prompt => "Not Sure"}) %>
<p>
  <%= f.submit class: "btn btn-large btn-primary" %>

<%= link_to "Start Over", plans_path, class: "btn btn-large btn-primary" %></p><br /><br /><br />
</div>

<% end %>


<div class="border span11"><p></p><br /></div>
<div class="page span12">
<%= will_paginate @plans %>
</div>
    <% @plans.each do |plan| %>
<div class="image span5">
<%= link_to image_tag(plan.drawing_1.url(:full)), plan_path(plan) %>
<dl class="dl-vertical">
	<p>
	  <b>Bedrooms:</b>
	  <%= plan.bedrooms %> |
	  <b>Sqfoot:</b>
	  <%= plan.sqfoot %> |
	  <b>Levels:</b>
	  <%= plan.stories %> |
	  <b>Bathrooms:</b>
	  <%= plan.bathrooms %>
	<% if user_signed_in? %>
	<% if current_user.has_role? :admin %>
	<%= link_to 'Delete', plan, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
<% end %>
	</p>

</div>
<% end %>
<div class="page span12">
<%= will_paginate @plans %>
</div>
<br />
<% if user_signed_in? %>
<% if current_user.has_role? :admin %>
<div class="new-button span12">
<%= link_to 'New Plan', new_plan_path, class: "btn btn-large btn-primary" %><br /><br />
</div>
<% end %>
<% end %>