<h2>Advanced Plan Search</h2><br />

<div class="border span12"><p></div><br /><br />

<%= will_paginate @plans %>
<%= search_form_for @q do |f| %>
<div class="field span3">
<%= f.label :sqfoot_gteq, "Square Footage Min" %>
<%= f.text_field :sqfoot_gteq %>
<%= f.label :sqfoot_lteq, "Square Footage Max" %>
<%= f.text_field :sqfoot_lteq %>

<%= f.label :bedrooms_eq, "Bedrooms" %>
<%= f.select :bedrooms_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4', 4],['5', 5],['6+', 6]]), :class => 'select_field' %>

  <%= f.label :bathrooms_eq, "Bathrooms" %>
<%= f.select :bathrooms_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4+', 4]]), :class => 'select_field' %>
	</div>	
	<div class="field span3">
	  <%= f.label :half_bath_eq, "Half-Bathrooms" %>
	<%= f.select :half_bath_eq, options_for_select([[''],['1', 1], ['2', 2],['3+', 3]]), :class => 'select_field'  %>


	<%= f.label :living_eq, "Number of Living Areas" %>
	<%= f.select :living_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4+', 4]]), :class => 'select_field' %>	
	
	<%= f.label :dining_eq, "Number of Dining Areas" %>
	<%= f.select :dining_eq, options_for_select([[''],['1', 1], ['2', 2],['3', 3],['4+', 4]]), :class => 'select_field' %>
	
	<%= f.label :garage_eq, "Number of Garages" %>
	<%= f.select :garage_eq, options_for_select([[''],['0', 1],['1', 2], ['2', 3],['3', 4],['4+', 5]]), :class => 'select_field' %>
	</div>
<div class="field span3">	
	<%= f.label :stories_eq, "Levels" %>
	<%= f.select :stories_eq, options_for_select([[''],['Single-Story', 1], ['Multi-Story', 2]]), :class => 'select_field' %>
	
	<%= f.label :suite_eq, "Owners' Suite Location" %>
	<%= f.select :suite_eq, options_for_select([[''], ['Primary Level', 2],['Secondary Level', 3]]), :class => 'select_field' %>
<p>
  <%= f.submit class: "btn btn-large btn-primary" %>

<%= link_to "Start Over", plans_path, class: "btn btn-large btn-primary" %></p><br /><br /><br />
</div>

<% end %>


<div class="border span12"><p></p></div>


    <% @plans.each do |plan| %>
<div class="image span5">
<%= link_to image_tag(plan.elevation.url(:full)), plan_path(plan) %>
<dl class="dl-vertical">
	<p>
	  <b>Bedrooms:</b>
	  <%= plan.bedrooms %> |
	  <b>Sqfoot:</b>
	  <%= plan.sqfoot %> |
	  <b>Levels:</b>
	  <%= plan.stories %> |
	  <b>Bathrooms:</b>
	  <%= plan.bathrooms %>
	<% if user_signed_in? %>
	<% if current_user.has_role? :admin %>
	<%= link_to 'Delete', plan, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
<% end %>
	</p>

</div>
<% end %>

<%= will_paginate @plans %>
<br />
<% if user_signed_in? %>
<% if current_user.has_role? :admin %>
<div class="new-button span12">
<%= link_to 'New Plan', new_plan_path, class: "btn btn-large btn-primary" %><br /><br />
</div>
<% end %>
<% end %>