
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script>

$(document).ready(function() {


	$('#first').click(function(e){
		e.preventDefault();
		$('#picture').html($('#first').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);
});

$('#elevation').click(function(e){
	e.preventDefault();
		$('#picture').html($('#elevation').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});

$('#second').click(function(e){
	e.preventDefault();
		$('#picture').html($('#second').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});
$('#image').click(function(e){
	e.preventDefault();
		$('#picture').html($('#image2').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});

$('#image2').click(function(e){
	e.preventDefault();
		$('#picture').html($('#image2').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});
$('#image5').click(function(e){
	e.preventDefault();
		$('#picture').html($('#image5').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});
$('#image3').click(function(e){
	e.preventDefault();
		$('#picture').html($('#image3').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});
$('#image4').click(function(e){
	e.preventDefault();
		$('#picture').html($('#image4').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});
$('#image7').click(function(e){
	e.preventDefault();
		$('#picture').html($('#image7').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});
$('#image8').click(function(e){
	e.preventDefault();
		$('#picture').html($('#image8').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});
$('#image9').click(function(e){
	e.preventDefault();
		$('#picture').html($('#image9').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});
$('#image10').click(function(e){
	e.preventDefault();
		$('#picture').html($('#image10').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});
$('#image11').click(function(e){
	e.preventDefault();
		$('#picture').html($('#image11').html());
		$('#picture').show('slide', {
			direction: "left"

		}, 2000);


});
	});

</script>

<script>
$(document).ready(function() {
$( "#up" ).click(function() {
  $( "#firstgroup" ).toggle( "slow") 
  $("#secondgroup").toggle("slow")

	});
$( "#down" ).click(function() {
  $( "#firstgroup" ).toggle( "slow") 
  $("#secondgroup").toggle("slow")

	});
$( "#down2" ).click(function() {
  $( "#secondgroup" ).toggle( "slow") 
  $("#thirdgroup").toggle("slow")

	});
$( "#up2" ).click(function() {
  $( "#secondgroup" ).toggle( "slow") 
  $("#thirdgroup").toggle("slow")

	});
});
</script>

<p id="notice"><%= notice %></p>


<div id="plan" class="span9">
<div id="picture">
<center><%= image_tag(@plan.drawing_1.url(:full)) %></center>
</div>

<center>
<br /><br />

		<% unless @plan.name.blank? %>
		<p>
		  <b>Name:</b>
		  <%= @plan.name %> |

		<% end %>

		  <b>Sqfoot:</b>
		  <%= @plan.sqfoot %> |

		  <b>Bedrooms:</b>
		  <%= @plan.bedrooms %> |

		  <b>Bathrooms:</b>
		  <%= @plan.bathrooms %> |

			<% unless @plan.half_bath.blank? %>

		  <b>Half bath:</b>
		  <%= @plan.half_bath %> 

			<% end %>

		<p>
		  <b>Living:</b>
		  <%= @plan.living %> |

		  <b>Dining:</b>
		  <%= @plan.dining %> |

		  <b>Levels:</b>
		  <%= @plan.stories %>

		<% unless @plan.view.blank? %>

		  <b>View:</b>
		  <%= @plan.view %> |

		<% end %>
		<% unless @plan.width.blank? %>

		  <b>Width:</b>
		  <%= @plan.width %> |

		<% end %>
		<% unless @plan.depth.blank? %>

		  <b>Depth:</b>
		  <%= @plan.depth %> 

		<% end %>

	</center>
		
		</p><br />
<div id="purchase" class="span2">
<% if @plan.price.blank? %>
<center><p><b>Price: $<%= (0.75 * @plan.sqfoot).to_i %></b> <%= link_to "Purchase new_plan_saved_plan_path!", new_plan_order_path(@plan), class: "btn btn-primary btn-lg" %></center></p>
<% else %>
<center><p><b>Price: $<%= (@plan.price * @plan.sqfoot).to_i %></b></p><p> <%= link_to "Purchase Plan!", new_plan_order_path(@plan), class: "btn btn-primary btn-lg"   %></center></p><br />
<% end %>

</div>


<div class="span6">
	<ul>
		<h4><i class="purchase-icon fa fa-star"></i> <%= link_to "What Does My Purchase Include?", "/purchase_info" %></h4>
		<h4><i class="purchase-icon fa fa-star"></i> <%= link_to "Frequently Asked Questions", "/questions" %></h4>
		<h4><i class="purchase-icon fa fa-star"></i> <%= link_to "What If I Want To Make Custom Modificatons To The Plan?", "/custom_mods" %></h4><br />
		
	</ul>
</div>

			
</div>	

<div id="sidebar_show" class="well span2">
	
<center><%= link_to "Purchase Plan!", new_plan_order_path(@plan), class: "btn btn-primary" %></center><br />
<p></p>

<div id="pics">
		<div id="first">
		<center><%= image_tag(@plan.drawing_1.url(:full)) %><center>

	</div>
</div>
<% unless @plan.drawing_2.blank? %>
<div id="pics">
			<div id="second">
			<center><%= image_tag(@plan.drawing_2.url(:full)) %></center>
		</div>
</div>
<% end %>
<div id="pics">
			<div id="elevation">
			<center><%= image_tag(@plan.elevation.url(:full)) %></center>
		</div>
</div>

<center><%= link_to "Purchase Plan!", new_plan_order_path(@plan), class: "btn btn-primary" %></center><br />
<back>
	<center><p><INPUT Type="button" class="btn btn-primary" VALUE="Back To Search" onClick="history.go(-1);return true;"></p></center><br />
	</back>
	<br />
</div>

<div class="buttons span12">

	<% if user_signed_in? %>
		<% if current_user.has_role? :admin %>
		<%= link_to 'Edit', edit_plan_path(@plan), class: "btn btn-large btn-primary" %> 
		<%= link_to 'New Plan', new_plan_path, class: "btn btn-large btn-primary" %> <br />

		<% end %>
	<% end %>

	<br /><br /><br /><br />
</div>

